@model IEnumerable<Team>

<a class="btn btn-block @(System.String.IsNullOrEmpty(ViewBag.SelectedTeam) ? "btn-primary" : "btn-outline-primary")" asp-action="Index" asp-controller="Home" asp-route-teamId="">Home</a>

@foreach(var t in Model)
{
    <a class="btn btn-block @(t.TeamName == ViewBag.SelectedTeam ? "btn-primary" : "btn-outline-primary")" 
       asp-action="Index" 
       asp-controller="Home" 
       asp-route-teamId="@t.TeamId"
       asp-route-teamName="@t.TeamName">
    @t.TeamName</a>
}